/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #242C3B;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2d2f3f;
    padding: 20px;
    color: white;
    text-align: center;
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* nav*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252c3b;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar nav ul li a:hover {
    color: #ddd;
}


/* Product Detail Section */
.product-detail {
    padding: 2rem;
    background-color: #242C3B;
    margin: 20px auto;
    max-width: 2000px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.product-detail img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}


.product-detail h1 {
    font-size: 2.5rem;
    color: #363e51;
    margin: 10px 0;
}

.product-detail p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.product-detail .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6D6DED;
    margin-bottom: 20px;
}

.product-detail button {
    padding: 12px 25px;
    font-size: 1rem;
    background: linear-gradient(-75deg, #FBE4D8,#DFB6B2, #4E4CED);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-detail button:hover {
    background-color: #d35f1d;
}

.product-detail .add-to-cart {
    margin-right: 20px;
}

.product-detail button:active {
    transform: scale(0.98);
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #242C3B;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .product-detail {
        padding: 1rem;
    }

    .product-detail h1 {
        font-size: 2rem;
    }

    .product-detail img {
        max-width: 100%;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
